body {
   padding: 0;
   margin: 0;
   font-size: 16px;
   background-color: #aeffe5;
   color: #32ff4e
}

ul , li {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav {
   width: 1200px;
   height: 80px;
   margin: auto; 
   display: flex;
   justify-content: space-between;
   align-items: center;
}

nav ul {
   display: flex;
   gap: 10px;
}

nav ul li {
   padding: 10px 20px;
   text-align: center;
   background: #176cff;
   color: #fff;
}